@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&display=swap');

:root {
    --tspl-gold: #D4AF37;
    --tspl-blue: #0F2C59;
}

body {
    font-family: 'IBM Plex Sans Thai', 'Space+Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fcfcfc;
    color: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--tspl-gold);
    border-radius: 10px;
}

.lang-th,
.lang-en {
    transition: all 0.25s ease-in-out;
}


.thai-title {
    line-height: 1.15;
}

.italic-none {
    font-style: normal !important;
}

/* Cinematic Image Hover Effect */
.cinematic-img-container {
    overflow: hidden;
}

.cinematic-img-container img {
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1), filter 0.7s ease;
    filter: grayscale(20%) contrast(1.1);
}

.cinematic-img-container:hover img {
    transform: scale(1.05);
    filter: grayscale(0%) contrast(1.2);
}